<!doctype html>
<html>
<head>
	<title>Move Challenge - Admin Panel</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="jsoneditor/jsoneditor-min.css">
    <script type="text/javascript" src="jsoneditor/jsoneditor-min.js"></script>
	<style>
		body 		{ padding-top:80px; }
        .multiselect-all label {
          font-weight: bold;
        }
        .multiselect-search {
        }
		.modal-content{
	min-width:80px;
}

            .gold{
            color: #ffe34c;
            }
            .get{
            color: #ffe34c;
            }            
			.post{
            color: #ffffff;
            }            
			.put{
            color: #f0ad4e;
            }           
			.delete{
            color: #000000;
            }
			pre {
   background-color: #3c4658;
   border: 1px solid silver;
   padding: 10px 20px;
   margin: 20px; 
   color:#ffffff
   }
.json-key {
   color: #5cd100;
   }
.json-value {
   color: #66a3ff;
   }
.json-string {
   color: #d6841e;
   }
	
	</style>
    <script src="js/rw/http.js" type="text/javascript" ></script>        
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
	<link rel="stylesheet" href="css/bootstrap-multiselect.css">
</head>

<body>
<div class="container">


	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Tags, Questions & Categories Creation</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		<a href="/create" class="btn btn-default btn-sm">Create</a>
		<a href="/edit" class="btn btn-default btn-sm">Edit</a>
	</div>


	<div class="row">
		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Hi <%= user.local.email %></h3>
            </div>
				
                <div class="container">
	                <div class="row clearfix">
		                <div class="col-md-12 column">
							<form  id="searchForm" class="navbar-form navbar-left" role="search" action="/search" method="post">
							  <div class="form-group">
								<input type="text" class="form-control" placeholder="Search" name="query">
							  </div>
							  
								
								<div class="form-group">
									<select class="form-control selectpicker" data-style="btn-success" id="searchType"  name="searchType">
										<option value="question">Question</option>
										<option value="tag">Tag</option>
										<option value="category">Category</option>
									</select>
								</div>
							  
							  	<button type="submit" class="btn btn-default">Search</button>


							</form>

		                </div>
	                </div>
	                							<br>
							<div class="alert alert-info alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">Close</span></button>
							  	<strong>Warning!</strong> Leaving this field will get all records, however save may not work when getting all records.
							</div>
					<br><hr><br>
					<div id="editWindow">
						<button id="save" name="save" class="btn btn-default">Save</button>
						<br><br><br>
						<div id="jsoneditor" style="height: 700px;"></div>
					</div>
					
                </div>
			</div>
		</div>

	</div>


</div>

<script type="text/javascript">

	$('#editWindow').hide()
	if (!library) {
		var library = {};
	}


	library.json = {
	   replacer: function(match, pIndent, pKey, pVal, pEnd) {
		  var key = '<span class=json-key>';
		  var val = '<span class=json-value>';
		  var str = '<span class=json-string>';
		  var r = pIndent || '';
		  if (pKey)
			 r = r + key + pKey.replace(/[": ]/g, '') + '</span>: ';
		  if (pVal)
			 r = r + (pVal[0] == '"' ? str : val) + pVal + '</span>';
		  return r + (pEnd || '');
		  },
	   prettyPrint: function(obj) {
		  var jsonLine = /^( *)("[\w]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/mg;
		  return JSON.stringify(obj, null, 3)
			 .replace(/&/g, '&amp;').replace(/\\"/g, '&quot;')
			 .replace(/</g, '&lt;').replace(/>/g, '&gt;')
			 .replace(jsonLine, library.json.replacer);
		  }
	};

	
	var container = document.getElementById("jsoneditor");
	var editor = new jsoneditor.JSONEditor(container);

var g_type = ''

$( "#searchForm" ).submit(function( event ) {
 
	// Stop form from submitting normally
	event.preventDefault();
 
	// Get some values from elements on the page:
	var $form = $( this ),
		query = $form.find( "input[name='query']" ).val(),
		type = $form.find( "select[name='searchType']" ).val(),
		url = $form.attr( "action" );
	var body = {
		'query' : query,
		'type'	: type
	}
	g_type = type
	// Send the data using post
	var posting = $.post( url, body );
 
	// Put the results in a div
	posting.done(function( data ){
		$('#editWindow').show('slow')
		editor.set(data);
	});
});


$( "#save" ).click(function() {
	var posting = $.post( '/update', { 'type' : g_type, 'update' :  editor.get() } );
	$('#editWindow').hide('slow')
});

</script>

</body>
</html>


